<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 mx-auto d-block">
    <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
  </div>

      </div>
    <div class="row " >
        <div class="col-12 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/f4c040_880b8bc2d5e64349b604354d94005d04~mv2.jpg/v1/fill/w_641,h_465,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_880b8bc2d5e64349b604354d94005d04~mv2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->
            <div class="row">
                <div class="col-md-12">
                  <h1>BELENES</h1>
                </div>
                <p>

                    Los belenes son la tradición más destacada de la Navidad. Por lo que en prácticamente cualquier sitio, se puede encontrar alguna de las múltiples modalidades de representaciones de belén.

                    Los belenes transmiten la magia de la Navidad. Cada belén simboliza los mejores deseos, la solidaridad, y la colaboración dentro de la comunidad. Así como los mejores deseos de paz y prosperidad para todo el mundo, y que son tan típicas de las fiestas navideñas.

                    Y es gracias a esta combinación de deseos, que se pueden encontrar belenes en la intimidad del hogar, en oficinas, consultas y lugares de trabajo, bares, y restaurantes familiares especialmente de cierto nivel (en los que no puede faltar). Pero también en los lugares más inesperados. Ya que instalar un belén durante las navidades es abrir el corazón a los visitantes mediante la mayor declaración de intenciones y la mejor de las voluntades que se puede mostrar.

                    Esta voluntad, está tan arraigada que incluso en aquellos lugares en los que no es posible instalar un belén, se recurre a alternativas para plasmar la alegría de la navidad. Estas alternativas van desde árboles navideños, hasta figuras navideñas, pasando por todo tipo de decoración navideña. Sin olvidar la iluminación navideña, que es otro de los elementos que facilitan que los visitantes se sientan cómodos e integrados durante la época más feliz del año.

                    Como es natural, para los comerciantes no pasa desapercibido que instalar un pequeño pesebre, un belén, o alguna alternativa de decoración navideña en el escaparate o en la fachada, es un reclamo ineludible para la atención de los viandantes. Que al acercarse, van a descubrir, y se podrán interesar en los artículos que comercializa el establecimiento.

                    <h1>Breve historia de los belenes</h1>

                    Se desconoce desde cuando se ponen belenes, puesto que se han encontrado representaciones de pesebres del siglo VI. No obstante, se establece como fecha del primer belén para conmemorar la celebración navideña, en la navidad de 1223. Cuando San Francisco de Asís recreó la escena del nacimiento en una cueva en las cercanías de la ermita de Greccio, en Italia.

                    Tras éste evento, se fue extendiendo la costumbre de instalar belenes, en un primer lugar fueron reyes, posteriormente la nobleza y aristocracia, y finalmente llegaron al pueblo llano.

                    La historia de los belenes en España se inicia en el siglo XVIII, de la mano de Carlos III, En el mismo siglo pero unos años más tarde, se empezaron a poner pesebres en América. Esto fue tras la disolución de la orden de los jesuitas. Momento en el que los franciscanos ocuparon su lugar, y lo utilizaron como método de evangelización.

                    <h1>Tipos de belenes</h1>

                    La personalización de los belenes, se ha ido desarrollando hasta el punto que se pueden clasificar en varios tipos. Entre los que además se pueden encontrar una cantidad de variaciones considerable. Estas son las principales clases de belenes:

                        En función de la orientación, tenemos los belenes abiertos y cerrados. Los belenes abiertos son visibles por lo menos desde 3 de sus lados, los belenes cerrados se encuentran dentro de un cajón, en el que se distribuyen todos los elementos de la composición.

                        En función de la complicación, los podemos dividir también en belenes populares (más simples) y belenes artísticos, que presentan un mayor nivel de sofisticación y técnicas más elaboradas para que el aspecto sea más realista, y despierte un mayor interés entre los espectadores.

                        También existe una clasificación en función del estilo, pudiendo diferenciar entre belenes bíblicos, que pretenden representar un belén tradicional, con personajes y edificios de la época. Y los belenes locales o regionales, en los que la representación está más adaptada a las características y costumbres del lugar en el que se encuentra el belén. Finalmente, también podemos encontrar los belenes modernos, que suelen ser más abstractos, menos figurativos, y realizados con materiales diversos.

                        Finalmente, también encontramos los belenes vivientes, en los que personas reales se visten de la época, y se acompañan de animales también vivos. Y los belenes tradicionales, en los que los personajes son encarnados por figuras.


                    <h1>Medidas y tipos de figuras para el belén</h1>

                    Las figuras de belén disponibles en Navidecor, van de los 5 a los 10 cm, entre las que se encuentran además varias calidades y acabados. Desde las colecciones de belenes clásicos Oliver, o las figuras de belén de Martino Landi, que destacan por sus acabados y gran calidad. Hasta complementos decorativos navideños, consistentes en edificios, estampas navideñas, figuras y complementos. Ya sean figuras y elementos del pesebre en movimiento, o estáticos. Además de losp ueblos navideños de las marcas Lemax y Luville, que forman parte de un enfoque mucho más personal de la Navidad y los belenes.


​
            </div>
        </div>
    </div>
</div>
{% endblock %}
