<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 mx-auto d-block">
    <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
  </div>

      </div>
    <div class="row " >
        <div class="col-12 text-center mx-auto d-block" >
            <img src="https://i.pinimg.com/originals/ce/70/ac/ce70ac163c29c7e3aac9ab3efa73631c.jpg" alt="">
            <h6></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->
            <div class="row">
                <div class="col-md-12">
                  <h1>BELENES</h1>
                  <p>Belenes clásicos y pesebres

Al referirnos a belenes clásicos, estamos hablando de pesebres que tienen los elementos típicos de siempre. En los que además del nacimiento, se incluyen los pastores, los reyes magos con los camellos y los pajes reales, la hiladora, los lugareños... Y también los edificios típicos de belenes y pesebres, como son la taberna, el horno de pan, el molino, la granja, el pajar, así como el río con el puente, las montañas, las ocas, los cerditos…

Lo que no sabe todo el mundo es que las figuras de pesebre tienen una simbología, y conocerla nos permitirá entender mejor el belén.

No obstante, antes de empezar con los comentarios de la simbología de las figuras del pesebre, nos será muy útil tener en cuenta que los belenes son una tradición franciscana, la rama humilde del cristianismo. Se trata de una característica a destacar, puesto que éste carácter más cercano al pueblo llano, determina el tipo de figuras y la simbología de cada una de ellas.



<h1>Simbología de las figuras del belén</h1>
<br>
Significado de las figuras de los belenes clásicos:
<br>
La figura de belén del niño Jesús: Simbolizan a Dios hecho hombre, representando la guía espiritual. Debe aparecer en el centro del nacimiento, rodeado del resto de miembros del pesebre.
<br>
La figura de belén de San José: Representan el sacrificio de renunciar a una vida sin compromisos para ser el sostén, dar seguridad a su familia, y educar a su hijo. Su colocación más habitual está a la derecha del Niño Jesús, pero tampoco es erróneo colocarlo a la izquierda.
<br>
Las figuras de belén de la Virgen María: Simbolizan el esfuerzo de convertir cualquier espacio en un hogar. Al tiempo que la capacidad de amar, proteger y dar la vida a su hijo. En el belén, encarna la unión entre lo terrenal y lo celestial. Habitualmente en el belén se coloca a la izquierda del Niño Jesús, pero también se puede colocar a la derecha.
<br>
Las figuras de belén del buey: Simbolizan la bondad, la calidez, y representan a la iglesia
<br>
Las figuras de belén de la mula: Su simbología refiere a la humildad, el coraje, la bondad y la pobreza, al tiempo que su terquedad y esterilidad simboliza al pueblo de Israel que no supo reconocer al Mesías.
<br>
Mirra: Simboliza el espíritu y el sufrimiento.
<br>

<h1>Las figuras de belén que encontraréis en Navidecor</h1>

En Navidecor tenemos una gran variedad de figuras de belén, de varias colecciones, con acabados excelentes como en el caso de Martino Landi, y también disponemos de figuras de belén más estándar o incluso una colección de figuras de belén con diseño infantil y muy original.

Las figuras de belén para belenes clásicos que encontrarán en Navidecor, por lo general tienen un tamaño de 5 a 10cm. No obstante también disponemos de figuras de belén de mayores dimensiones, para nacimientos ubicados en espacios preferentes, en los que no procede instalar un belén completo.</p>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}
