<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">

      <div class="col-12 col-sm-4 mx-auto d-block">
          <h1>BOMBILLOS</h1>
  <img src="https://static.wixstatic.com/media/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg/v1/crop/x_0,y_42,w_232,h_131/fill/w_215,h_121,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg" alt="">
</div>

    </div>
    <div class="row">

      <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_19f7f2867d514a88af0e69113445dc60~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_19f7f2867d514a88af0e69113445dc60~mv2.jpg" alt=""><h6>Set 3 calaveras   </h6><br><h6>$3.99</h6></div>
      <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_7b680af4d4b64a3db802d82ca5b041d6~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7b680af4d4b64a3db802d82ca5b041d6~mv2.jpg" alt=""><h6>Pack 3 bolas blanco   </h6><br><h6>$3.99</h6></div>
      <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_4192fdc30d964879ab6b78da56370347~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_4192fdc30d964879ab6b78da56370347~mv2.jpg" alt=""><h6>Bola verde plastica   </h6><br><h6>$3.99</h6></div>

      </div>

      <div class="row">

        <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_f8267d1eed4040ddabc85a6890e369e3~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_f8267d1eed4040ddabc85a6890e369e3~mv2.jpg" alt=""><h6>Bola plastico roja   </h6><br><h6>Agotado</h6></div>
        <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_b66738ca8eb44bf388c393115281c670~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b66738ca8eb44bf388c393115281c670~mv2.jpg" alt=""><h6>Colgante cristal   </h6><br><h6>Agotado</h6></div>
        <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_de592313559449288ec4ffe0d1944408~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_de592313559449288ec4ffe0d1944408~mv2.jpg" alt=""><h6>Bola cristal   </h6><br><h6>Agotado</h6></div>

        </div>

        <div class="row">

          <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_3fd3f0f59d6b4152b0667f6555f3da94~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_3fd3f0f59d6b4152b0667f6555f3da94~mv2.jpg" alt=""><h6>Bola cristal rosa   </h6><br><h6>Agotado</h6></div>
          <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_07cd5bc6efe747b1929b21d6307a898d~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_07cd5bc6efe747b1929b21d6307a898d~mv2.jpg" alt=""><h6>Bola cristal flores   </h6><br><h6>Agotado</h6></div>
          <div class="col-4 "> <img src="https://static.wixstatic.com/media/f4c040_9b562d61010b4242b545a9efdabc0477~mv2.jpg/v1/fill/w_228,h_228,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_9b562d61010b4242b545a9efdabc0477~mv2.jpg" alt=""><h6>Bola colgar   </h6><br><h6>Agotado</h6></div>

          </div>





    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->
            <div class="row">
                <div class="col-md-12">
                    <h1>Bombillos de navidad</h1>
                    <p>
                        Las bolas de Navidad son un elemento imprescindible de la decoración navideña. Y se usan para decorar el árbol, para complementar apliques decorativos, y adornos, entre otras opciones más o menos comunes.

                        Con tantas utilidades, es normal que las bolas navideñas de colores lisos vayan quedando obsoletas, y se impongan los nuevos estilos de bolas de navidad que no sólo varían en colores y tamaños, sino que se hace evidente un derroche de imaginación, tan desmesurado, como la ilusión y optimismo con que impregnan todo el ambiente.

                        Las bolas de Navidad que se pueden encontrar en Navidecor, son más que un elemento navideño, puesto que por si solas personalizan las estancias, y les dan un aire elegante y distinguido.

                        Buena parte de las bolas de Navidad de que disponemos están disponibles únicamente en la tienda física. Por lo que si tiene interés en algún diseño en particular, no dude en contactar con nosotros y le responderemos lo antes posible.

                        ​
                        <h1>Bolas de Navidad infantiles</h1>

                        Los niños, viven la Navidad con mayor emoción e intensidad que los adultos. Y para que esa ilusión sea más completa, en Navidecor hemos incorporado una línea de bolas de Navidad infantiles, a nuestra, ya de por sí, extensa gama de bolas de Navidad. Destinadas a la decoración de espacios infantiles, y también para niños de todas las edades.

                        Las bolas de Navidad infantiles que se pueden encontrar en Navidecor, tienen formas fácilmente reconocibles, para que niños de corta edad empiecen a aprender los nombres de los animales, y las figuras típicamente navideñas.

                        En Navidecor también os podemos ofrecer una amplia variedad de bolas de Navidad para niños mayores, llegando a bolas de navidad juveniles. Con varios motivos, tan variados como saludos amables y los mejores deseos, hasta las terroríficas calaberas mexicanas.

                        ​



                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
