<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 mx-auto d-block">
    <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
  </div>

      </div>
    <div class="row " >
        <div class="col-md-12 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/d5bdce34b1784618b020928370e1b0de.jpg/v1/fill/w_979,h_668,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/%C3%81rbol%20de%20navidad%20familiar.jpg" alt="">

        </div>
    </div>

    <div class="row " >
        <div class="col-md-12 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/12f498f268a6418e922c5da1603ecd2a.jpg/v1/fill/w_977,h_646,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Medias%20de%20Navidad.jpg" alt="">

        </div>
    </div>

    <div class="row " >
        <div class="col-md-12 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/2cb9c6387df74407af7ab376c16486ef.jpg/v1/fill/w_979,h_648,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Celebraci%C3%B3n%20de%20Navidad.jpg" alt="">

        </div>
    </div>

    <div class="row " >
        <div class="col-md-12 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/54c870c7c98040868be93a88a691bbf9.jpg/v1/fill/w_980,h_649,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/restaurante%20decorado.jpg" alt="">

        </div>
    </div>

    <div class="row " >
        <div class="col-md-12 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/b8f59936bca340a09b8d5b1d907ad83e.jpg/v1/fill/w_979,h_655,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Linda%20santa.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->

        </div>
    </div>
</div>
{% endblock %}
