<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">

      <div class="col-12 col-sm-4 mx-auto d-block">
          <h1>GUIRNALDAS LED</h1>
  <img src="https://static.wixstatic.com/media/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg/v1/crop/x_0,y_42,w_232,h_131/fill/w_215,h_121,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg" alt="">
</div>

    </div>
    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_b64de1ce0152462c9acfbed9c7b78d9e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b64de1ce0152462c9acfbed9c7b78d9e~mv2.jpg" alt=""><h3>Cortina waterfull    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_d9a9dc086c604240a077c3d2a91cde0e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_d9a9dc086c604240a077c3d2a91cde0e~mv2.jpg" alt=""><h3>Cortina waterfull    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_409d0d87a7304aa6a2461ac59eaa801c~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_409d0d87a7304aa6a2461ac59eaa801c~mv2.jpg" alt=""><h3>Cortina balcony    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_bf9ed4d28da745b3a03f4672e4f753cf~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_bf9ed4d28da745b3a03f4672e4f753cf~mv2.jpg" alt=""><h3>Cortina exterior    </h3><br><h3>$6.99</h3> </div>

    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_ab661e005cbd4b38a72fcbb3f26c16a5~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_ab661e005cbd4b38a72fcbb3f26c16a5~mv2.jpg" alt=""><h3>Carambano led negro    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_182c674e74cd4745a65d16df33d14f66~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_182c674e74cd4745a65d16df33d14f66~mv2.jpg" alt=""><h3>Carambano led blanco    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_aaaf570187ac4d2d935bc6f918f117f6~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_aaaf570187ac4d2d935bc6f918f117f6~mv2.jpg" alt=""><h3>Cortina led    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_8df2abed6e4c49b080fa3a224b53ea3e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_8df2abed6e4c49b080fa3a224b53ea3e~mv2.jpg" alt=""><h3>Iluminacion cortina    </h3><br><h3>$6.99</h3> </div>

    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_585b207a9a1b42b6871f001eebe604c5~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_585b207a9a1b42b6871f001eebe604c5~mv2.jpg" alt=""><h3>Ilumancion forma cortina    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_447c3b8a378e4dfaa81597d04cab723e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_447c3b8a378e4dfaa81597d04cab723e~mv2.jpg" alt=""><h3>Ilumancion forma cortina    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_6f2bf2240e2a45b4ae7277632f0ffd94~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_6f2bf2240e2a45b4ae7277632f0ffd94~mv2.jpg" alt=""><h3>Ilumancion forma cortina    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_af06b47a7b8a40218467f6a568fe3749~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_af06b47a7b8a40218467f6a568fe3749~mv2.jpg" alt=""><h3>Ilumancion forma cortina    </h3><br><h3>$6.99</h3> </div>

    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_0bf1355291d54412a4376bf63167bee4~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_0bf1355291d54412a4376bf63167bee4~mv2.jpg" alt=""><h3>Cortina carambano    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_9efd2a45e8bb454d9918ab18d54994c9~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_9efd2a45e8bb454d9918ab18d54994c9~mv2.jpg" alt=""><h3>Cortina balnca    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_5e297489256e4da58b4738165044b19e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_5e297489256e4da58b4738165044b19e~mv2.jpg" alt=""><h3>Ilumancion forma cortina    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_79a1db38fed24c40a68e6b8eb739f4a0~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_79a1db38fed24c40a68e6b8eb739f4a0~mv2.jpg" alt=""><h3>Ilumancion forma cortina    </h3><br><h3>$6.99</h3> </div>

    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_a833086c2c07442688defdcb5160457f~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_a833086c2c07442688defdcb5160457f~mv2.jpg" alt=""><h3>Cortina carambano    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_7730e30f6f2643cd984f2e37b14e5032~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7730e30f6f2643cd984f2e37b14e5032~mv2.jpg" alt=""><h3>Cortina carambano    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_273584bfa7c540bf87a17fb439693579~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_273584bfa7c540bf87a17fb439693579~mv2.jpg" alt=""><h3>Cortina navideña    </h3><br><h3>$6.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_f0af44f48efc47fa98ef5097f4ebccb2~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_f0af44f48efc47fa98ef5097f4ebccb2~mv2.jpg" alt=""><h3>Cortina navideña    </h3><br><h3>$6.99</h3> </div>

    </div>



              <div class="row">
                <div class="col-12 text-center">
                  <!-- Video utilizando el elemento <iframe> -->
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
  </div>
{% endblock %}
