<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">

      <div class="col-12 col-sm-4 mx-auto d-block">
          <h1>GUIRNALDAS LED</h1>
  <img src="https://static.wixstatic.com/media/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg/v1/crop/x_0,y_42,w_232,h_131/fill/w_215,h_121,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg" alt="">
</div>

    </div>
    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_dcbc0553ee7f4dd391238c9dee89213a~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_dcbc0553ee7f4dd391238c9dee89213a~mv2.jpg" alt=""><h3>Ramo leds    </h3><br><h3>$8.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_0f186a4fb1a247ccb56e7a214dc70a13~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_0f186a4fb1a247ccb56e7a214dc70a13~mv2.jpg" alt=""><h3>Guirnalda led     </h3><br><h3>$8.99</h3> </div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_e225e5e7ea2146f9a9280d9c4146c123~mv2_d_3500_3218_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_e225e5e7ea2146f9a9280d9c4146c123~mv2_d_3500_3218_s_4_2.jpg" alt=""><h3>Cluster led     </h3><br><h3>$8.99</h3> </div>
      <div class="col-3"> <img src="https://static.wixstatic.com/media/f4c040_f47d5a473d554bebaa071f704ac46bab~mv2_d_3500_3038_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_f47d5a473d554bebaa071f704ac46bab~mv2_d_3500_3038_s_4_2.jpg" alt=""><h3>Cluster led     </h3><br><h3>$8.99</h3> </div>
      </div>

      <div class="row">

        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_0537696d0fbd494db1243017522abd6d~mv2_d_3711_3136_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_0537696d0fbd494db1243017522abd6d~mv2_d_3711_3136_s_4_2.jpg" alt=""><h3>Guirnalda tranpsarente     </h3><br><h3>$8.99</h3> </div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_98291e6108b147e5a4c6dbe639b99d5a~mv2_d_3711_3136_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_98291e6108b147e5a4c6dbe639b99d5a~mv2_d_3711_3136_s_4_2.jpg" alt=""><h3>Guirnadla 1000 leds     </h3><br><h3>$8.99</h3> </div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_c7042f37305849e8b11f3b8b5a11d2e1~mv2_d_3366_3009_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_c7042f37305849e8b11f3b8b5a11d2e1~mv2_d_3366_3009_s_4_2.jpg" alt=""><h3>Guirnalda 800 leds     </h3><br><h3>$8.99</h3> </div>
        <div class="col-3"> <img src="https://static.wixstatic.com/media/f4c040_809c623f6e0843328965c06570bdf106~mv2_d_3366_3009_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_809c623f6e0843328965c06570bdf106~mv2_d_3366_3009_s_4_2.jpg" alt=""><h3>Guirnadla 700 leds     </h3><br><h3>$8.99</h3> </div>
        </div>

        <div class="row">

          <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_635a2a215ff54347b4891c653fd85793~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_635a2a215ff54347b4891c653fd85793~mv2.jpg" alt=""><h3>     </h3><br><h3>$8.99</h3> </div>
          <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_635a2a215ff54347b4891c653fd85793~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_635a2a215ff54347b4891c653fd85793~mv2.jpg" alt=""><h3>     </h3><br><h3>$8.99</h3> </div>
          <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_e225e5e7ea2146f9a9280d9c4146c123~mv2_d_3500_3218_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_e225e5e7ea2146f9a9280d9c4146c123~mv2_d_3500_3218_s_4_2.jpg" alt=""><h3>     </h3><br><h3>$8.99</h3> </div>
          <div class="col-3">  <img src="https://static.wixstatic.com/media/f4c040_2c673fe706a54a4a98a4c27a53191632~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_2c673fe706a54a4a98a4c27a53191632~mv2.jpg" alt=""><h3>     </h3><br><h3>$8.99</h3> </div>
          </div>

          <div class="row">

            <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_2c673fe706a54a4a98a4c27a53191632~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_2c673fe706a54a4a98a4c27a53191632~mv2.jpg" alt=""><h3>Cuerda con leds G     </h3><br><h3>$8.99</h3> </div>
            <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_de867e8362774b649486cb1256bfbee0~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_de867e8362774b649486cb1256bfbee0~mv2.jpg" alt=""><h3>Cuerda con leds     </h3><br><h3>$8.99</h3> </div>
            <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_182c674e74cd4745a65d16df33d14f66~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_182c674e74cd4745a65d16df33d14f66~mv2.jpg" alt=""><h3>Cuerda con leds Globo    </h3><br><h3>$8.99</h3> </div>
            <div class="col-3"> <img src="https://static.wixstatic.com/media/f4c040_ab661e005cbd4b38a72fcbb3f26c16a5~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_ab661e005cbd4b38a72fcbb3f26c16a5~mv2.jpg" alt=""><h3>Micro led    </h3><br><h3>$8.99</h3> </div>
            </div>

            <div class="row">

              <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_6e4255750a1042e2957efbad74a4bd1a~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_6e4255750a1042e2957efbad74a4bd1a~mv2.jpg" alt=""><h3>Micro led twinkie     </h3><br><h3>$8.99</h3> </div>
              <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_af7318f9228c4359a84c0165341380e6~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_af7318f9228c4359a84c0165341380e6~mv2.jpg" alt=""><h3>Compact leds    </h3><br><h3>$8.99</h3> </div>
              <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_de2b49ed90464a7fb355bc1bbac5a7c1~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_de2b49ed90464a7fb355bc1bbac5a7c1~mv2.jpg" alt=""><h3>Carambalo led cable     </h3><br><h3>$8.99</h3> </div>
              <div class="col-3"> <img src="https://static.wixstatic.com/media/f4c040_9b61ba4dc6894d1d94f13c20c9d2090a~mv2_d_3711_3136_s_4_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_9b61ba4dc6894d1d94f13c20c9d2090a~mv2_d_3711_3136_s_4_2.jpg" alt=""><h3>Carambano led negro     </h3><br><h3>$8.99</h3> </div>
              </div>

              <div class="row">
                <div class="col-12 text-center">
                  <!-- Video utilizando el elemento <iframe> -->
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
  </div>
{% endblock %}
