!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 mx-auto d-block">
        <h1>GUIRNALDAS  </h1>
  <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
</div>

    </div>
    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_14703493812345f4b97b88f45e1ff4ef~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_14703493812345f4b97b88f45e1ff4ef~mv2.jpg" alt=""><h6>Guirnalda  rama </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_b7030aa7898a4ca497faab96191c5b3c~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b7030aa7898a4ca497faab96191c5b3c~mv2.jpg" alt=""><h6>Guirnalda pineconas  </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_d8ec4c782afb4652a6778bfca446b744~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_d8ec4c782afb4652a6778bfca446b744~mv2.jpg" alt=""><h6>Guirnalda strasstoño  </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_7c3fcf213652453cac83e518b3523cbf~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7c3fcf213652453cac83e518b3523cbf~mv2.jpg" alt=""><h6>Guirnalda esparagus </h6><br><h6>Agotado</h6></div>
    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_96a26971b6a3463f860bb02e797e5d52~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_96a26971b6a3463f860bb02e797e5d52~mv2.jpg" alt=""><h6>Guirnalda frosted </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_163f3ff3b7aa4fc28ab06c19925bdeee~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_163f3ff3b7aa4fc28ab06c19925bdeee~mv2.jpg" alt=""><h6>Corona merry </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_0163cf9fd8744aab88bb2facd5ace2f5~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_0163cf9fd8744aab88bb2facd5ace2f5~mv2.jpg" alt=""><h6>Guirnalda ramitas </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_4732b7e82c084a53bc8b9f2b1c422c09~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_4732b7e82c084a53bc8b9f2b1c422c09~mv2.jpg" alt=""><h6>Guirnalda blanquecinas</h6><br><h6>Agotado</h6></div>
    </div>

    <div class="row">

      <div class="col-3 "> <img src="" alt=""><h6>Pajaro </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="" alt=""><h6>Pajaro </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="" alt=""><h6>Pajaro </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="" alt=""><h6>Pajaro </h6><br><h6>Agotado</h6></div>
    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_f8e4a0d72e0b461eb7b8c12a0376086e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_f8e4a0d72e0b461eb7b8c12a0376086e~mv2.jpg" alt=""><h6>Arco </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_7374ed77bed74732a1f515be62e118ba~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7374ed77bed74732a1f515be62e118ba~mv2.jpg" alt=""><h6>Guirnalda ramabolas </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_98854610743c4511bfd03ce557775743~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_98854610743c4511bfd03ce557775743~mv2.jpg" alt=""><h6>Corona de plastico </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_fbe2eca18ecf4f19b9b9edd29dcfe3dc~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_fbe2eca18ecf4f19b9b9edd29dcfe3dc~mv2.jpg" alt=""><h6>Corona de plastico verde </h6><br><h6>Agotado</h6></div>
    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_c28433e7917140bb854fc1bb253ea709~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_c28433e7917140bb854fc1bb253ea709~mv2.jpg" alt=""><h6>Corona nevada roja </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_a162f50e6d74485aa854c2fe7ae7b920~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_a162f50e6d74485aa854c2fe7ae7b920~mv2.jpg" alt=""><h6>Corona nevada roja </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_4f6f517de11d4e36ad9f8bdf8f38d5ed~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_4f6f517de11d4e36ad9f8bdf8f38d5ed~mv2.jpg" alt=""><h6>Guirnalda mini bolitas gris</h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_582bb437b82f4a5abb561d8e45c03401~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_582bb437b82f4a5abb561d8e45c03401~mv2.jpg" alt=""><h6>Guirnalda mini bolitas dorada </h6><br><h6>Agotado</h6></div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</div>
{% endblock %}
