{#heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
<div class="row">
<div class="col-5">
  <img  src="https://static.wixstatic.com/media/f4c040_09d863969aa642e4903cc32932da8c3f~mv2.jpg/v1/fill/w_1672,h_728,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Banner%20descuento%2015%25%20-%2020%25%20(1).jpg" alt=""></div>

</div>
<div class="row">

  <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_cf501ffccdaf4a1a84e0d95e0c3512c9~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_cf501ffccdaf4a1a84e0d95e0c3512c9~mv2.jpg" alt=""><h6>Casa de los Elfos</h6><br><h6>Agotado</h6></div>
  <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_5c37839ffb3342e28d168dc997137c8d~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_5c37839ffb3342e28d168dc997137c8d~mv2.jpg" alt=""><h6>Casa de los Elfos en forma de bota</h6><br><h6>Agotado</h6></div>
  <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_8cb1163451c54f26ae438f687130c65e~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_8cb1163451c54f26ae438f687130c65e~mv2.jpg" alt=""><h6>Caril de los elfos</h6><br><h6>Agotado</h6></div>
  <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_a244f1518f86428ebe91cc2ec7f7e95e~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_a244f1518f86428ebe91cc2ec7f7e95e~mv2.jpg" alt=""><h6>Caril de lso duendes</h6><br><h6>Agotado</h6></div>
  <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_97656369a30a4a9dac975823e52e13dd~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_97656369a30a4a9dac975823e52e13dd~mv2.jpg" alt=""><h6>CENTRO DE ADOPCION DE CACHORROS Y GATITOS </h6><br><h6>78.99$-67,14 </h6></div>
  <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_e9fbd3f3f62540eca3bb9e51c6b9d838~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_e9fbd3f3f62540eca3bb9e51c6b9d838~mv2.jpg" alt=""><h6>POSTRES HELADOS  </h6><br><h6>66.99$ 58.94$</h6></div>
  <div class="row">

    <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_b50c07ca0c06473281268e0fa473f405~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b50c07ca0c06473281268e0fa473f405~mv2.jpg " alt=""><h6>Casa de los Elfos</h6><br><h6>Agotado</h6></div>
    <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_e2ee373374e34ea290478ec8c82ac81e~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_e2ee373374e34ea290478ec8c82ac81e~mv2.jpg" alt=""><h6>Casa de los Elfos en forma de bota</h6><br><h6>Agotado</h6></div>
    <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_77d1850a3b3a4161a8ee8e64df07a0ee~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_77d1850a3b3a4161a8ee8e64df07a0ee~mv2.jpg" alt=""><h6>Caril de los elfos</h6><br><h6>Agotado</h6></div>
    <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_5225c9e2cbb1433088013816626a3147~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_5225c9e2cbb1433088013816626a3147~mv2.jpg" alt=""><h6>Caril de lso duendes</h6><br><h6>Agotado</h6></div>
    <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_73d78f99d1f9467ea6f84b513816c75b~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_73d78f99d1f9467ea6f84b513816c75b~mv2.jpg" alt=""><h6>CENTRO DE ADOPCION DE CACHORROS Y GATITOS </h6><br><h6>78.99$-67,14 </h6></div>
    <div class="col-2 "> <img src="https://static.wixstatic.com/media/f4c040_4bc59af109934be0ac6011088bd0075e~mv2.jpg/v1/fill/w_143,h_143,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_4bc59af109934be0ac6011088bd0075e~mv2.jpg" alt=""><h6>POSTRES HELADOS  </h6><br><h6>66.99$ 58.94$</h6></div>
  </div>
</div>
<div class="" style='possition: center'>
  <button type="button" name="button">Cargar mas</button>

</div>
</div>
{% endblock %}
