<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 mx-auto d-block">
  <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
</div>

    </div>
    <div class="row " >
        <div class="col-2 text-center mx-auto d-block" >
            <img src="https://static.wixstatic.com/media/f4c040_21ae83e1100b43108943509b7d5e0ba1~mv2.jpg/v1/fill/w_209,h_211,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_21ae83e1100b43108943509b7d5e0ba1~mv2.jpg" alt="">
            <h6></h6>
        </div>
        <div class="col-2 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/f4c040_a4fd12c0212c433190e4d7dc6572ca3b~mv2.jpg/v1/fill/w_209,h_211,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/64045.jpg" alt="">
            <h6>Con movimiento</h6>
        </div>
        <div class="col-2 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/f4c040_183f873760984237be4102660f965e1d~mv2.jpg/v1/fill/w_211,h_211,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/12932.jpg" alt="">
            <h6>Figuras</h6>
        </div>
        <div class="col-2 text-center mx-auto d-block">
            <img src="https://static.wixstatic.com/media/f4c040_78f332c5522f41349313667e44eee881~mv2.jpg/v1/fill/w_211,h_211,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_78f332c5522f41349313667e44eee881~mv2.jpg" alt="">
            <h6>Accesorios</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Edificios Con movimiento Figuras Accesorios Pueblos navideños Lemax

                        Lemax es líder mundial en diseño y fabricación de figuras en miniatura para la creación de pueblos navideños coleccionables.
                    </p>
                </div>
                <div class="col-md-12">
                    <p>
                        Desde 1990, Lemax se ha mantenido a la vanguardia en el mundo del hobbie consistente en pueblos navideños decorativos, e iluminados. Teniendo un crecimiento rápido y sostenido, gracias al que la marca Lemax, ha llegado a la actualidad siendo un referente en el mercado de los pueblos navideños, y las figuras decorativas navideñas coleccionables.
                    </p>
                </div>
                <div class="col-md-12">
                    <p>
                        Ya queda lejos la primera colección de casas iluminadas de Lemax. Desde el primer momento, la oferta de Lemax se ha ido incrementando, y sofisticando a base de la constante incorporación de nuevas referencias. En la actualidad Lemax ofrece un exquisito mundo de ensueño, compuesto de pueblos navideños poblados por casas, figuritas y accesorios de diseño elaborado, y la máxima calidad. Que además inluyen detalles, que tanto pueden consistir en algún movimiento, como en algún tipo de iluminación ya sea fija o cambiante, o ambas cosas.
                    </p>
                </div>
                <div class="col-md-12">
                    <p>
                        El éxito de los pueblos navideños Lemax, ha logrado que actualmente, además del público particular, también sean muchos los decoradores e interioristas que optan por incorporar los edificios luminosos, las atracciones en miniatura, y los movimientos que incorporan los edificios y atracciones de los pueblos navideños Lemax a sus trabajos de decoración, y a proyectos de decoración navideña. Indistintamente de si los destinatarios de dichos proyectos sean espacios informales o solemnes, puesto que la elegancia de las figuras navideñas Lemax sientan bien a cualquier espacio.
                    </p>
                </div>
                <div class="col-md-12">
                    <p>
                        La gama de pueblos navideños de Lemax, es una opción de alta calidad para aquellos coleccionistas que han estado durante largos años construyendo sus lujosas exhibiciones de pueblos navideños., y desean incorporar nuevos edificios con diseños elegantes, y calidad garantizada,
                    </p>
                </div>
                <div class="col-md-12">
                    <p>
                        Pregunte por los edificios y figuras de pueblos navideños Lemax. Navidecor, comercializa pueblos navideños y figuras Lemax, desde hace ya bastantes años, con lo que en nuestra tienda podrá encontrar una gran variedad de referencias de la marca.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
