<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">

      <div class="col-12 col-sm-4 mx-auto d-block">
          <h1>LLUVILLES</h1>
  <img src="https://static.wixstatic.com/media/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg/v1/crop/x_0,y_42,w_232,h_131/fill/w_215,h_121,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_7b53d777fb174db78e2f091b09f7648a~mv2.jpg" alt="">
</div>

    </div>
    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_787f4eb5e83b44649aa0f394d5e5294b~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_787f4eb5e83b44649aa0f394d5e5294b~mv2.jpg" alt=""><h6>Coach with luggage  </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_fd8161802d834aa7b4e7ef287e58e270~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_fd8161802d834aa7b4e7ef287e58e270~mv2.jpg" alt=""><h6>Donkey cart  </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_ae492c85a401459690eca14c51a17006~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_ae492c85a401459690eca14c51a17006~mv2.jpg" alt=""><h6>Santas gift </h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_3e903949940e425a8f0125136777d9fb~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_3e903949940e425a8f0125136777d9fb~mv2.jpg" alt=""><h6>Horse stedge  </h6><br><h6>Agotado</h6></div>

      </div>


      <div class="row">

        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_26973f1cd07b4be5bb5fa507bcefa368~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_26973f1cd07b4be5bb5fa507bcefa368~mv2.jpg" alt=""><h6>Beer cart  </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_4ab3d11b6da84bf68ecb116245d00f97~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_4ab3d11b6da84bf68ecb116245d00f97~mv2.jpg" alt=""><h6>Lanter lighter  </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_19dbbe4fe35f4ca5b9971d29216ee720~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_19dbbe4fe35f4ca5b9971d29216ee720~mv2.jpg" alt=""><h6>Reinderr teasing santa  </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_185947ac1001475287be7eb3431c3ae8~mv2_d_1200_1536_s_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_185947ac1001475287be7eb3431c3ae8~mv2_d_1200_1536_s_2.jpg" alt=""><h6>Santa and deers  </h6><br><h6>Agotado</h6></div>

        </div>




    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->
            <div class="row">
                <div class="col-md-12">
                    <h1>Paisajes navideños luville</h1>
                    <p>
                      Luville es una marca Holandesa, de decoración navideña, dedicada a la fabricación de paisajes navideños. Tras años diseñando paisajes navideños encantadores, Luville goza de gran prestigio en toda Europa. Cosa que es así tanto por los deliciosos diseños de las figuras navideñas que fabrica, como por la calidad de sus productos.

                      Le invitamos a visitar Navidecor, y a descubrir los pueblos y paisajes navideños Luville, que estamos seguros de que no le dejarán indiferente.

                      <h1>Tamaño de las figuras de paisajes navideños Luville</h1>

                      Las figuras Luville tienen una altura aproximada de unos 7cm, manteniendo las proporciones en el caso de carros, tiovivos, casas u otros edificios, que pueden llegar a los 35cm de altura.

                      <h1>Tipos de figuras Luville</h1>

                      La elegancia de las figuras Luville es incuestionable.

                      En Navidecor disponemos de un espacio dedicado en exclusiva a la exposición de paisajes navideños, en la que podrá ver al natural varios diseños Luville, que consisten en estampas navideñas, con figuras Luville. En estas estampas, se plasman momentos idílicos de la Navidad, como son paseos en trineo o en carro, así como figuras de niños jugando en la nieve, comercios, diversos oficios (tenderos, pintores, pescaderos, vendedores ambulantes…). También se incluyen figuras de mobiliario urbano, como cabinas de teléfonos, bancos, planos urbanos o señales. Y una variedad considerable de edificios, fábricas e iglesias.

                      Como complemento a los edificios y personas, también podemos disponemos de varios tipos de plantas y árboles. Así como tiras de luces navideñas para iluminar todo el pueblo navideño Luville.

                      Un aspecto que hay que destacar de las figuras Luville, es que varias de ellas, disponen de mecanismos que les permiten algún tipo de iluminación, o incluso que puedan realizar algún movimiento.

                      Por ejemplo los tiovivos, o los patinadores, entre otros.

                      <h1>Pregunte por los artículos de decoración navideña Luville</h1>

                      Actualmente en la página web no es posible consultar todas las referencias de pueblos, paisajes navideños y figuras Luville de que disponemos. Por lo que le invitamos a que se ponga en contacto con nosotros si tiene cualquier duda sobre los artículos Luville que le podemos proporcionar.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
