<!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 mx-auto d-block">
    <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
  </div>

      </div>
    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_dcbc0553ee7f4dd391238c9dee89213a~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_dcbc0553ee7f4dd391238c9dee89213a~mv2.jpg" alt=""><h6>Rama goo leds   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_0f186a4fb1a247ccb56e7a214dc70a13~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_0f186a4fb1a247ccb56e7a214dc70a13~mv2.jpg" alt=""><h6>Guirnalda les 20 globos   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_e225e5e7ea2146f9a9280d9c4146c123~mv2_d_3500_3218_s_4_2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_e225e5e7ea2146f9a9280d9c4146c123~mv2_d_3500_3218_s_4_2.jpg" alt=""><h6>Cluset 1512 leds   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_f47d5a473d554bebaa071f704ac46bab~mv2_d_3500_3038_s_4_2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_f47d5a473d554bebaa071f704ac46bab~mv2_d_3500_3038_s_4_2.jpg" alt=""><h6>cluster leds   </h6><br><h6>$4.99</h6></div>
    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_b64de1ce0152462c9acfbed9c7b78d9e~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b64de1ce0152462c9acfbed9c7b78d9e~mv2.jpg" alt=""><h6>Cortina watrfails   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_d9a9dc086c604240a077c3d2a91cde0e~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_d9a9dc086c604240a077c3d2a91cde0e~mv2.jpg" alt=""><h6>Cortina watrfails    </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_409d0d87a7304aa6a2461ac59eaa801c~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_409d0d87a7304aa6a2461ac59eaa801c~mv2.jpg" alt=""><h6>Cortina blanco calido   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_bf9ed4d28da745b3a03f4672e4f753cf~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_bf9ed4d28da745b3a03f4672e4f753cf~mv2.jpg" alt=""><h6>Cortina extrior calido   </h6><br><h6>$4.99</h6></div>
    </div>

    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_2fc9ebaba6ac4ce99818c3fe8a5d93d7~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_2fc9ebaba6ac4ce99818c3fe8a5d93d7~mv2.jpg" alt=""><h6>Muñeco de nieve   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_346a438793d046708929c977017f002d~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_346a438793d046708929c977017f002d~mv2.jpg" alt=""><h6>Tarro glaseado   </h6><br><h6>$4.99</h6></div>
      <div class="col-3"> <img src="https://static.wixstatic.com/media/f4c040_926f3916a5af4916bdfc9775a7b950ed~mv2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_926f3916a5af4916bdfc9775a7b950ed~mv2.jpg" alt=""><h6>Jaula pajaros   </h6><br><h6>$4.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_9b9ac25f59f44b3eb837c4c83d72cd9f~mv2_d_1914_2551_s_2.jpg/v1/fill/w_210,h_210,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_9b9ac25f59f44b3eb837c4c83d72cd9f~mv2_d_1914_2551_s_2.jpg" alt=""><h6>Piña cera led   </h6><br><h6>$4.99</h6></div>
    </div>





    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <!-- Cuatro párrafos de texto justificados -->
            <div class="row">
                <div class="col-md-12">
                    <h1>Luces</h1>
                    <p>

<h1>figuras iluminadas</h1>

Las luces de Navidad, son uno de los elementos más clásicos y vistosos de las fiestas navideñas. Y como tal, se puede encontrar en infinidad de tamaños y formatos.

En Navidecor, no somos menos, y disponemos de una variedad enorme en luces de Navidad. Ya sea para iluminación navideña de interiores, o iluminación navideña de exteriores. Y ya sea para el uso en domicilios particulares, o comercios, oficinas o instalaciones de uso público de cualquier tipo.

En el ámbito de la decoración navideña, y la iluminación de espacios con luces de Navidad, desde Navidecor, además del servicio de venta de luces de Navidad, también ofrecemos servicios de alquiler e instalación de las guirnaldas de luces, cortinas, o figuras de navidad con iluminación.

<h1>Iluminación navideña para interiores</h1>

En Navidecor, encontrará todo tipo de iluminación navideña para interiores. Desde figuras navideñas de todas clases, entre las que se incluyen supuestos recipientes, hasta las cortinas LED, y las tiras de luces LED, que pueden llegar a las 1200 luces LED.

Las tiras de luces (o guirnaldas) que se pueden encontrar en Navidecor, van desde luces incrustadas en finas tiras, hasta cuerdas de las que sobresalen las luces, que además pueden ser de distintos colores. Pasando por las clásicas tiras de bombillas de colores, o bombillas tipo Edison.

Otra de las opciones de iluminación navideña que causa una impresión excelente en la iluminación de navidad, son las cortinas LED. Que en el momento apropiado, y gracias a sus hasta 480 bombillas LED, hacen que se desate toda la magia navideña en el sitio idóneo.

Además de las típicas luces, girnaldas y cortinas LED, en Navidecor, disponemos de figuras, velas navideñas, o farolillos, entre otras opciones, que permiten crear el ambiente navideño deseado en cualquier pequeño espacio.

​
<h1>Iluminación navideña para exteriores</h1>

La iluminación navideña para exteriores permite la creación de paisajes de ensueño, desde todas las perspectivas. Al permitir combinar tiras de luces de Navidad LED para exteriores, con cortinas de luces LED, y también todo tipo de figuras iluminadas, tales como osos, renos, trineos o estrellas de Navidad, entre una infinidad de posibilidades que pueden consultarnos, o pueden venir a ver, e incluso tocar, en las tiendas Navidecor.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
