!-- index.html -->

{% extends "./plantilla.html" %}
{% block contenido %}
<style>
    .container {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-navidad-bokeh-copos-nieve_1393-207.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* Ajusta el valor alpha para controlar la transparencia */
        padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }

    /* Puedes añadir estilos adicionales según tus necesidades */
    .row {
        margin-bottom: 20px;
    }

    /* Estilo para las imágenes dentro de las columnas */
    .col-2 img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 mx-auto d-block">
        <h1>PUNTAS DE ARBOL </h1>
  <img src="https://static.wixstatic.com/media/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg/v1/fill/w_361,h_126,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_70dde2c14d9142ce9d1ce51edd1a61ed~mv2.jpg" alt="">
</div>

    </div>
    <div class="row">

      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_5ec9c5d05ee9488a8d6635927fa24f54~mv2_d_1772_1772_s_2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_5ec9c5d05ee9488a8d6635927fa24f54~mv2_d_1772_1772_s_2.jpg" alt=""><h6>Pajaro plumas para copa de arbol</h6><br><h6>Agotado</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_fa8ea3174a634351af2d0726967cf5b6~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_fa8ea3174a634351af2d0726967cf5b6~mv2.jpg" alt=""><h6>Estrella copa de arbol</h6><br><h6>$19.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_e4dbd951dc6b41e990d0ddcad9508169~mv2.png/v1/fill/w_225,h_225,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f4c040_e4dbd951dc6b41e990d0ddcad9508169~mv2.png" alt=""><h6>Estrella metal para punta/h6><br><h6>$16.99</h6></div>
      <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_73ea7f450679479fb789751797f0707a~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_73ea7f450679479fb789751797f0707a~mv2.jpg" alt=""><h6>Tope rojo oxi</h6><br><h6>$9.99</h6></div>

      <div class="row">
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_935c41d89b6b48438a832b0ea6426af0~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_935c41d89b6b48438a832b0ea6426af0~mv2.jpg" alt=""><h6>Tope rojo superior</h6><br><h6>$9.99</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_02e996601ae648a59bf50b926d07874b~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_02e996601ae648a59bf50b926d07874b~mv2.jpg" alt=""><h6>Tope dorado superior</h6><br><h6>$9.99</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_ee3d48f87bb0445085db327e0879af43~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_ee3d48f87bb0445085db327e0879af43~mv2.jpg" alt=""><h6>Estrella purpurina tierra </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_02eeffde9d6f4a9f9c4753693b632605~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_02eeffde9d6f4a9f9c4753693b632605~mv2.jpg" alt=""><h6>Estrella purpurina marron </h6><br><h6>4.99</h6></div>
      </div>

      <div class="row">
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_31a9abe2debb4823ac57ffc1e01fb406~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_31a9abe2debb4823ac57ffc1e01fb406~mv2.jpg" alt=""><h6>Estrella purpurina rosada </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_a1dd0842699746c69a1c860da8a2a962~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_a1dd0842699746c69a1c860da8a2a962~mv2.jpg" alt=""><h6>Estrella purpurina verde pino  </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_e01cfecb981d4a6a9098d02243bbcedc~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_e01cfecb981d4a6a9098d02243bbcedc~mv2.jpg" alt=""><h6>Estrella purpurina azulada </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_d722e6c7cbdd4bab9f8076b8db51cbd7~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_d722e6c7cbdd4bab9f8076b8db51cbd7~mv2.jpg" alt=""><h6>Estrella rosa  </h6><br><h6>Agotado</h6></div>
      </div>

      <div class="row">
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_b9f7d85aa8c34a7a9cf90e37ea94830b~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b9f7d85aa8c34a7a9cf90e37ea94830b~mv2.jpg" alt=""><h6>Estrella purpurina roja oxi </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_6b666330ef59487a8f6104cfcacb2d73~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_6b666330ef59487a8f6104cfcacb2d73~mv2.jpg" alt=""><h6>Estrella purpurina roja </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_83f478c79af148d49455649c11af182b~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_83f478c79af148d49455649c11af182b~mv2.jpg" alt=""><h6>Estrella purpurina dorada </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_1b66fd4650144901a48730fd07d6c12e~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_1b66fd4650144901a48730fd07d6c12e~mv2.jpg" alt=""><h6>Estrella roja </h6><br><h6>Agotado</h6></div>
      </div>

      <div class="row">
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_62563306fdbb47aaa922875fa1eb4d04~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_62563306fdbb47aaa922875fa1eb4d04~mv2.jpg" alt=""><h6>Estrella dorada </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_336f057691ea46a29cae135ec60d56f1~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_336f057691ea46a29cae135ec60d56f1~mv2.jpg" alt=""><h6>Punta de arbol</h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_b6f2eeb31f64454d9f1ff60e23fecd0a~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_b6f2eeb31f64454d9f1ff60e23fecd0a~mv2.jpg" alt=""><h6>Estrella punta de arbol </h6><br><h6>Agotado</h6></div>
        <div class="col-3 "> <img src="https://static.wixstatic.com/media/f4c040_42f3126a86e9481ba8a6078748ad4ba6~mv2.jpg/v1/fill/w_225,h_225,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/f4c040_42f3126a86e9481ba8a6078748ad4ba6~mv2.jpg" alt=""><h6>Estrella hielo </h6><br><h6>Agotado</h6></div>
      </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- Video utilizando el elemento <iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/niVYWja6ihQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</div>
{% endblock %}
